
<ion-tabs  class="footerMenuPanel">

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goHome()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>My Home</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="myAppointments()">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>My Appointments</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>My Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

